{
  "presets": [
    ["env", {
      "es2015": {
        "modules": false
      }
    }],
    "stage-3"
  ],
  "plugins": [
	"transform-runtime",
	"transform-class-properties",
	["module-resolver", {
	  "root": ["./src/js/"],
	  "alias": {
		"components": "./components",
		"config": "./config",
		"core": "./core",
		"game-stages": "./game-stages"
	  }
	}]
  ]
}
