<div class="section">
	<h2><%= name %></h2>
	<p>Choose your move</p>
	<hr>
	<div class="options">
		<div class="options__option gesture" type="rock">Rock</div>
		<div class="options__option gesture" type="paper">Paper</div>
		<div class="options__option gesture" type="scissors">Scissors</div>
	</div>
</div>
