.button {
  min-width: 60px;
  padding: 10px 24px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid $border-gray;
  background: white;

  &:hover {
    background: lighten($border-gray, 10);
  }

  &__label {
    display: inline-block;
  }

  &__sub {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
    color: $font-light-gray;
  }

  &--primary {
    background: $accent-blue;
    color: white;
    &:hover {
      background: darken($accent-blue, 8);
    }
  }

  &--block {
    display: block;
    margin: 12px;
  }

  &--disabled {
    background: $border-gray;
    cursor: not-allowed;
    &:hover {
      background: $border-gray;
    }
  }
}
