.options {

}

.options__option {
  min-width: 60px;
  padding: 10px 24px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid $border-gray;
}

.options__option:hover {
  background: $accent-blue;
  color: white;
}
