.section {
  margin-bottom: 12px;
  padding: 12px 24px;

  &--dark {
    background: #f1f1f1;
  }

  &--border-top {
    border: 1px solid $border-gray;
    border-width: 1px 0px 0px;
  }

  &__header {
    font-size: 26px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      width: 120%;
      height: 1px;
      background: $border-gray;
      position: absolute;
      left: -10%;
      bottom: -2px;
      z-index: 0;
    }
  }

  &__subheader {
    font-size: 18px;
    font-weight: 100;
    color: $font-gray;
    display: block;
    max-width: 280px;
    margin: 0px auto;
  }
}
