<div>
	<div class="section">
		<h2>Choose game type</h2>
	</div>
	<div class="section">
		<div class="button button--block" type="player-computer-easy">
			Player vs Computer game ( easy )
		</div>
		<div class="button button--block" type="player-computer-hard">
			Player vs Computer game ( hard )
		</div>
		<div class="button button--block" type="player-player">
			Player vs Player game
		</div>
		<div class="button button--block" type="computer-computer">
			Computer vs Computer game
		</div>
		<div class="button button--block" type="player-1-computer-10">
			Player vs 10 Computers
		</div>
	</div>
</div>
