<div class="layout layout--padding layout--center">
	<div class="section">
		<h1 class="section__header">Reveal gestures</h1>
		<h1 class="section__subheader">Stage 3 - gesture reveal</h1>
	</div>
	<div class="section section--dark section--border-top">
		<ul class="list">
			<% for(var i=0; i <= Object.keys(players).length - 1; i++) {%>
				<li class="list__element">
					<span class="button__label"><%= players[i].name %></span>
					<span class="button__sub"><%= players[i].pickedGestureType %></span>
				</li>
			<% } %>
		</ul>
	</div>
	<div class="button button--primary">
		Continue
	</div>
</div>
