$border-gray: #d0d0d0;
$accent-blue: #2196f3;

@import './components/button.scss';
@import './components/form';
@import './components/options.scss';

body {
  padding: 0;
  margin: 0;
}

.body--dark {
  background-color: #bfbfbf;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
  padding: 12px 24px;
}

.container--center {

}

.section {
  padding: 12px 24px;
}

.view {
  margin: 24px;
  background: white;
}
