<div class="layout layout--padding layout--center">
  <div class="section">
    <h1 class="section__header">Choose game type</h1>
    <h1 class="section__subheader">Stage 1 - choose game type you want to play</h1>
  </div>
  <div class="section section--dark section--border-top">
    <ul class="list">
      <li class="list__element">
        <div class="button button--block" type="player-socket">
          <span class="button__label">Multiplayer game</span>
          <span class="button__sub">( socket connection )</span>
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="player-computer-wolf">
          <span class="button__label">Player vs Computer game</span>
          <span class="button__sub">( rock-paper-scissors-wolf )</span>
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="player-computer-easy">
          <span class="button__label">Player vs Computer game</span>
          <span class="button__sub">( easy )</span>
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="player-computer-medium">
          <span class="button__label">Player vs Computer game</span>
          <span class="button__sub">( medium )</span>
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="player-computer-hard">
          <span class="button__label">Player vs Computer game</span>
          <span class="button__sub">( hard )</span>
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="player-player">
          Player vs Player game
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="computer-computer">
          Computer vs Computer game
        </div>
      </li>
      <li class="list__element">
        <div class="button button--block" type="player-1-computer-10">
          Player vs 10 Computers
        </div>
      </li>
    </ul>
  </div>
</div>
