<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body--dark">
	<div class="view container" id="screen--game-select">
		<form class="form">
			<div class="form__section">
				<input type="text" placeholder="Player name" value="Player 1">
				<select id="player-type" name="select">
					<option value="value1">Human</option>
					<option value="value2">Computer</option>
				</select>
				<select id="computer-difficulty" name="select">
					<option value="value1">Easy</option>
					<option value="value2">Hard</option>
				</select>
			</div>
			<div class="form__section">
				<input type="text" placeholder="Player name" value="Player 2">
				<select id="player-type" name="select">
					<option value="value1">Human</option>
					<option value="value2">Computer</option>
				</select>
				<select id="computer-difficulty" name="select">
					<option value="value1">Easy</option>
					<option value="value2">Hard</option>
				</select>
			</div>
			<div class="form__section">
				<input type="text" placeholder="Player name" value="Player 3">
				<select id="player-type" name="select">
					<option value="value1">Human</option>
					<option value="value2">Computer</option>
				</select>
				<select id="computer-difficulty" name="select">
					<option value="value1">Easy</option>
					<option value="value2">Hard</option>
				</select>
			</div>
		</form>
	</div>
	<div id="screen--game-pick-gesture" style="display: none"></div>
	<div id="screen--game-show-gestures" style="display: none"></div>
	<div id="screen--game-winner-board" style="display: none"></div>
</body>
</html>
