<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="screen--game-select">
		<button id="player-vs-player-game">Player vs Computer game</button>
		<button id="player-vs-computer-game">Player vs Player game</button>
		<button id="computer-vs-computer-game">Computer vs Computer game</button>
	</div>

	<div id="screen--game-pick-gesture">
		a
	</div>

	<div id="screen--game-show-gestures">
		a
	</div>

	<div id="screen--game-winner-board">
		a
	</div>

</body>
</html>
