<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body--dark">
	<div class="container">
		<div class="view" id="screen--introduction">
			<div class="section">
				<h1>Rock Paper Scissors game</h1>
				<h3>Features</h3>
				<ul>
					<li>
						unlimited number of players ( computers or humans ) - tournament mode
					</li>
					<li>
						easy to add new game stages
					</li>
				</ul>
			</div>
			<div id="start-game" class="button button--primary">
				Start game
			</div>
		</div>
		<div id="screen--game-select" class="view" style="display: none"></div>
		<div id="screen--game-pick-gesture" class="view" style="display: none"></div>
		<div id="screen--game-gestures-reveal" class="view" style="display: none"></div>
		<div id="screen--game-winner-board" class="view" style="display: none"></div>
	</div>
</body>
</html>
