<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<button id="start-single-player-game">Player vs Computer game</button>
	<button id="start-game">Player vs Player game</button>
	<button id="start-game">Computer vs Computer game</button>

</body>
</html>
