<div class="section">
	<h2><%= player.name %></h2>
	<p>Choose your move</p>
	<hr>
	<div class="options">
		<% for(var i=gestures.length - 1; i >= 0; i--) {%>
			<div class="options__option gesture" type="<%=gestures[i] %>"><%=gestures[i] %></div>
		<% } %>
	</div>
</div>
